.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 60%;
    height: 300px;
    border-radius: 20px;
}

.ResultContainer{
    width: 80%;
    max-height: 400px;
    overflow-y: scroll;
}

.container input{
    padding-left: 20px;
    width: 300px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.container button{
    /* padding: 10px 20px; */
    width: 320px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.resultValue {
    background: lightblue;
    padding: 13px;
    margin: 16px 0px;
    border-radius: 10px;
}

.d-none{
    display: none;
}